@import '_vars';

@keyframes blurAnim {
  0%{
    filter: blur(0px);
  }
  100%{
    filter: blur(2px);
  }
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes gradientAnim {
    //0%{
    //  background: linear-gradient(to right, #11FFBD, #AAFFA9);
    //}
    //50%{
    //  background: radial-gradient(#11FFBD, #AAFFA9);
    //}
    0%{
      background-position: 0;
    }
    50%{
      background-position: 0 250px;
    }
    100%{
      //background: linear-gradient(to right, #AAFFA9, #11FFBD);
      //background: linear-gradient(to right, #11FFBD, #AAFFA9);
      background-position: 0;
    }
}

@mixin underlineAnimation($color: #000){
  &{
    position: relative;
  }
  &::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: $color;
    transition: 0.2s linear;
    @media screen and (max-width: $sm-bp) {
      bottom: -15px;
    }
  }
  &:hover::after{
    width: 100%;
  }
}