@import '_common';
@import '_animations';
@import '_font';
@import '_vars';
@import '_hamburger';

.intro{
  width: 100%;
  height: 100vh;
  //background-image: url('../img/intro.JPG');
  //background-size: cover;
  //filter: blur(2px);
  //animation: blurAnim 1s linear 1;
  background: rgba(0,0,0, 0.4);
  &__backimg{
    position: absolute;
    width: 100%;
    z-index: -2;
    height: 100vh;
    background-image: url('../img/intro.jpg');
    background-size: cover;
    background-attachment: fixed;
    filter: blur(2px);
    animation: blurAnim 1s linear 1;
    @media screen and (max-width: $sm-bp) {
      height: 175vh;
      background-size: auto;
    }

  }
  &__inner{
    display: flex;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  &__logo{
    width: 400px;
    height: auto;
    @media screen and (max-width: $sm-bp) {
      width: 300px;
    }
  }
  &__right{
    padding-left: 20px;
    border-left: 3px solid #fff;
    @media screen and (max-width: $sm-bp) {
      border: none;
      margin-top: 20px;
    }
  }
  &__title{
    font-weight: 500;
    @include fontHelper(72px);
    //font-size: 72px;
    line-height: 120px;
    text-transform: uppercase;
    //padding:70px 0;
  }
  &__sub{
    width: 100%;
  }
  &__subtitle{
    text-transform: uppercase;
    font-size: 3em;
    width: 100%;
    text-align: left;
  }
  &__btn{
    width: 100%;
    text-align: center;
    //margin: 50px 0;
  }
  &__social{

    &-list{
      margin-top: -70px;
      //width: 100%;
      justify-content: flex-end;
      display: flex;
      gap: 10px;
      align-items: center;
    }
    &-item{
      //padding: 15px;
      //border: 1px solid #fff;
      border-radius: 100%;
      display: flex;
    }
    &-icon{
      @include fontHelper(40px, 10);
      transition: 0.1s linear;
      border: 1px solid #fff;
      padding: 15px;
      border-radius: 100%;
      &:hover{
        border: 1px solid rgba(0,0,0,0.7);
        @include fontHelper(60px);
      }
    }
  }
  @media screen and (max-width: $sm-bp) {
    height: 175vh;
  }
}


.header{
  background: rgba(0,0,0, 0.4);
  box-shadow: 0px 25px 45px 0px rgba(0, 0, 0, 0.27);
  position: absolute;
  top: 0;
  z-index: 100;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  //padding: 30px 100px;
  //background: rgba(0,0,0,0.4);
  //background: #d9d9d9;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  flex-wrap: wrap;
  @media screen and (max-width: $sm-bp) {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 20px;
  }
}

.logo{

  &__img{
    width: 150px;
    height: auto;
    transition: 0.2s linear;
    &:hover{
      transform: scale(1.1);
    }
  }
}
.search{
  appearance: none;
  outline: none;
  border: none;
  background: none;
  color: white;
  //opacity: 1;
  border: 2px solid #fff;
  padding: 5px 20px;
  border-radius: 20px;
  font-family: inherit;
  @include fontHelper(18px)
}
.nav{
  display: flex;
  gap: 70px;
  align-items: center;

  &__reveal{
    //@extend
    display: flex;
    opacity: 1;
    left: 0 !important;
  }

  &__list{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    gap: 50px;
    //height: 100%;
    @media screen and (max-width: $sm-bp) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 70px;
    }
  }
  &__link{

  }
  &__item{
    @include underlineAnimation(#fff);
    @include fontHelper(20px);
    @media screen and (max-width: $sm-bp) {
      @include fontHelper(26px);
      @include underlineAnimation(#000);
    }
  }

  @media screen and (max-width: $sm-bp) {
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: -20px;
    left: -100vh;
    width: 100%;
    height: calc(100vh + 20px);
    z-index: 200;
    background: #fff;
    color: #000;
    //opacity: 0;
    transition: opacity 0.1s linear, left 0.2s linear;
    justify-content: center;
  }
}


.loader{
  //border: 1px solid black;
  //border-left: none;
  //border-top:none;
  background: url('../img/loader.svg');
  background-size: contain;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 100%;
  animation: rotate 2s linear infinite;
}

.weather{
  background: radial-gradient(#11FFBD, #AAFFA9);
  animation: gradientAnim 1s linear alternate-reverse;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  display: flex;
  //height: 500px;
  text-align: center;
  @include fontHelper(50px);
  line-height: 72px;
  @media screen and (max-width: $sm-bp) {

  }
}

.weather__digit{
  @include fontHelper(72px);
  height: 100px;
  //padding-top: 15px;
  display: flex;
  //flex-direction: column;
  color: #fff;
  justify-content: center;
  text-align: center;
  line-height: 100px;
  @media screen and (max-width: $sm-bp) {
    @include fontHelper(50px);
  }
}

.weather__text{
  margin: 100px 0;
}

.section{
  &__title{
    @include fontHelper(34px);
    text-align: center;
    //font-weight: 700;
  }
}

.attractions{
  margin-top: 60px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 100px;
  &__item{
    justify-content: flex-start;
    display: flex;
    align-items: center;
    flex-direction: row;
    &-right{
      @extend .attractions__item;
      justify-content: flex-end;
    }
    @media screen and (max-width: $sm-bp) {
      flex-direction: column;
    }
  }
  &__img{
    width: 500px;
    height: auto;
    position: relative;
    transform: translate(20px, -20px);
    //background:;
    &-container{
      position: relative;
    }
    &-right{
      @extend .attractions__img;
      transform: translate(-20px, -15px);
      @media screen and (max-width: 1400px) {
        width: 100%;
      }
    }
  }
  &__under-img{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 50px;
    transform: rotate(-45deg);
    z-index: 20;
    &-right{
      @extend .attractions__under-img;
      top: 0;
      left: 0;
      transform: rotate(12deg);
    }
  }
  &__text{
    padding: 0 50px;
    justify-content: flex-start;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__title{
    @include fontHelper(75px);
    position: relative;
    margin-bottom: 20px;
    &::after{
      content: '';
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 20%;
      height: 10px;
      background:$primary;

    }
  }
  &__descr{
    margin-top: 20px;
    @include fontHelper(20px);
  }
}

//background: #AAFFA9;  /* fallback for old browsers */
//background: -webkit-linear-gradient(to right, #11FFBD, #AAFFA9);  /* Chrome 10-25, Safari 5.1-6 */
//background: linear-gradient(to right, #11FFBD, #AAFFA9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */