/*!**************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./assets/scss/main.scss ***!
  \**************************************************************************************************************************************************************************************/
body {
  color: #fff;
  font-family: 'Source Sans 3';
  font-size: 16px;
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a, a:hover, a:visited, a:active {
  display: block;
  color: inherit;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: inherit; }

ul, li {
  list-style-type: none; }

.center_view {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%; }

.container {
  width: 1400px;
  margin: 0 auto; }

.d-none {
  display: none !important; }

.section {
  padding-top: 50px;
  margin: 0 auto;
  color: #000000; }

.container {
  margin: 0 auto;
  max-width: 1400px; }

@media screen and (max-width: 1400px) {
  .container {
    width: 100%; } }

.text-alternate {
  color: #027400; }

@keyframes blurAnim {
  0% {
    filter: blur(0px); }
  100% {
    filter: blur(2px); } }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes gradientAnim {
  0% {
    background-position: 0; }
  50% {
    background-position: 0 250px; }
  100% {
    background-position: 0; } }

@font-face {
  font-family: 'Source Sans 3';
  src: url(../.././assets/fonts/SourceSans3-VariableFont_wght.ttf); }

.hamburger {
  position: fixed;
  right: 32px;
  top: 32px;
  width: 40px;
  display: none;
  justify-content: space-between;
  background: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  flex-direction: column;
  gap: 8px;
  z-index: 30; }

@media screen and (max-width: 926px) {
  .hamburger {
    display: flex; } }

.hamburger__bar {
  height: 3px;
  width: 100%;
  background: #fff; }

@font-face {
  font-family: 'Source Sans 3';
  src: url(../.././assets/fonts/SourceSans3-VariableFont_wght.ttf); }

.form {
  margin: 75px auto;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px; }

@media screen and (max-width: 926px) {
  .form {
    width: 100%;
    padding: 0 20px; } }

.form__label {
  font-size: 1.5em; }

.form__control, .form__control-area {
  appearance: none;
  border: 2px solid #bfbfbf;
  border-radius: 2px;
  width: 100%;
  padding: 5px 15px;
  font-size: 1.25em;
  font-family: 'Source Sans 3';
  resize: none;
  margin: 5px 0; }

.form__control:focus, .form__control-area:focus {
  outline: 2px #027400 solid; }

.form__control-area {
  height: 150px;
  font-size: 1em; }

.form__submit {
  background: #027400;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 2px;
  color: #fff;
  padding: 10px;
  font-size: 1.25em;
  font-family: 'Source Sans 3';
  text-transform: uppercase;
  font-weight: bold; }

.form__submit:focus {
  outline: 2px #014100 solid; }

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

@media screen and (max-width: 926px) {
  .row {
    flex-direction: column; } }

.row > .column {
  width: 25%;
  padding: 0 8px; }

@media screen and (max-width: 926px) {
  .row > .column {
    width: 100%; } }

.row:after {
  content: "";
  display: table;
  clear: both; }

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%; }

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 40;
  /*padding-top: 100px;*/
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex; }

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  padding: 10px;
  width: 90%;
  max-width: 1200px; }

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  z-index: 10000; }

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer; }

/* Hide the slides by default */
.mySlides {
  display: none;
  width: 100%; }

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

/* Caption text */
.caption-container {
  text-align: center;
  color: #000;
  font-size: 20px; }

img.demo {
  opacity: 0.6;
  width: 100%;
  height: auto; }

.active,
.demo:hover {
  opacity: 1; }

img.hover-shadow {
  transition: 0.3s linear box-shadow;
  width: 100%;
  border-radius: 2px;
  border: 2px solid #fff;
  cursor: pointer; }

.hover-shadow:hover {
  border: 2px solid #027400;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.demo-full {
  width: 100%;
  margin: 0 auto;
  height: 600px; }

@media screen and (max-width: 926px) {
  .demo-full {
    width: 100%;
    height: auto; } }

.gallery {
  padding: 65px 0; }

.column__text {
  text-align: center;
  color: #000; }

@font-face {
  font-family: 'Source Sans 3';
  src: url(../.././assets/fonts/SourceSans3-VariableFont_wght.ttf); }

.contacts {
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-size: 1.5em; }

.contacts__item {
  align-items: center;
  display: flex;
  justify-content: space-between; }

.contacts__underline {
  height: 100%;
  border-bottom: 2px solid #bfbfbf;
  margin: 0 30px;
  width: 100%;
  padding-top: 10px; }

.contacts__key {
  width: 5%;
  text-align: center; }

@media screen and (max-width: 926px) {
  .contacts__key {
    width: 100%; } }

.contacts__value {
  width: 15%;
  text-align: center; }

@media screen and (max-width: 926px) {
  .contacts__value {
    width: 100%; } }

.intro {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4); }

.intro__backimg {
  position: absolute;
  width: 100%;
  z-index: -2;
  height: 100vh;
  background-image: url(../.././assets/img/intro.jpg);
  background-size: cover;
  background-attachment: fixed;
  filter: blur(2px);
  animation: blurAnim 1s linear 1; }

@media screen and (max-width: 926px) {
  .intro__backimg {
    height: 175vh;
    background-size: auto; } }

.intro__inner {
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center; }

.intro__logo {
  width: 400px;
  height: auto; }

@media screen and (max-width: 926px) {
  .intro__logo {
    width: 300px; } }

.intro__right {
  padding-left: 20px;
  border-left: 3px solid #fff; }

@media screen and (max-width: 926px) {
  .intro__right {
    border: none;
    margin-top: 20px; } }

.intro__title {
  font-weight: 500;
  font-size: 4.5em;
  line-height: 120px;
  text-transform: uppercase; }

.intro__sub {
  width: 100%; }

.intro__subtitle {
  text-transform: uppercase;
  font-size: 3em;
  width: 100%;
  text-align: left; }

.intro__btn {
  width: 100%;
  text-align: center; }

.intro__social-list {
  margin-top: -70px;
  justify-content: flex-end;
  display: flex;
  gap: 10px;
  align-items: center; }

.intro__social-item {
  border-radius: 2px;
  background: black;
  display: flex; }

.intro__social__ico {
  color: #000;
  background: #000;
  font-size: 2.5em;
  transition: 0.1s linear;
  border: 1px solid #fff;
  padding: 15px; }

.intro__social__ico:hover {
  border: 1px solid rgba(0, 0, 0, 0.7);
  font-size: 3.75em; }

@media screen and (max-width: 926px) {
  .intro {
    height: 175vh; } }

.header {
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 25px 45px 0px rgba(0, 0, 0, 0.27);
  position: absolute;
  top: 0;
  z-index: 100;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  flex-wrap: wrap; }

@media screen and (max-width: 926px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding-top: 20px; } }

.logo__img {
  width: 150px;
  height: auto;
  transition: 0.2s linear; }

.logo__img:hover {
  transform: scale(1.1); }

.search {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  color: inherit;
  border: 2px solid #fff;
  padding: 5px 20px;
  border-radius: 20px;
  font-family: inherit;
  font-size: 1.125em; }

@media screen and (max-width: 926px) {
  .search {
    border: 2px solid #bfbfbf; } }

.nav {
  display: flex;
  gap: 70px;
  align-items: center;
  color: inherit; }

.nav__close {
  background: none;
  outline: none;
  border: none;
  font-size: 2em;
  display: none;
  cursor: pointer;
  padding: 0;
  width: 100%;
  justify-content: flex-end;
  margin-right: 70px;
  color: #bfbfbf; }

.nav__reveal {
  display: flex;
  opacity: 1;
  left: 0 !important; }

.nav__list {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  gap: 50px; }

@media screen and (max-width: 926px) {
  .nav__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px; } }

.nav__item {
  font-size: 1.25em; }

.nav__item {
  position: relative; }

.nav__item::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: 0.2s linear; }

@media screen and (max-width: 926px) {
  .nav__item::after {
    bottom: -15px; } }

.nav__item:hover::after {
  width: 100%; }

@media screen and (max-width: 926px) {
  .nav__item {
    font-size: 1.625em; } }

@media screen and (max-width: 926px) {
  .nav {
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: -20px;
    left: -100vh;
    width: 100%;
    height: calc(100vh + 20px);
    z-index: 200;
    background: #fff;
    color: #000;
    transition: opacity 0.1s linear, left 0.2s linear;
    justify-content: center; } }

.loader {
  background: url(../.././assets/img/loader.svg);
  background-size: contain;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 100%;
  animation: rotate 2s linear infinite; }

.weather {
  background: radial-gradient(#11FFBD, #AAFFA9);
  animation: gradientAnim 10s linear infinite;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 3.125em;
  line-height: 72px; }

.weather__digit {
  font-size: 4.5em;
  height: 100px;
  display: flex;
  color: #fff;
  justify-content: center;
  text-align: center;
  line-height: 100px; }

@media screen and (max-width: 926px) {
  .weather__digit {
    font-size: 3em; } }

.weather__text {
  margin: 100px 0; }

.section {
  padding: 75px 0; }

.section__title {
  font-size: 2.125em;
  text-align: center;
  color: #000;
  padding: 20px 0; }

.attractions {
  margin-top: 60px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 100px; }

.attractions__item, .attractions__item-right {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  flex-direction: row; }

.attractions__item-right {
  justify-content: flex-end; }

@media screen and (max-width: 926px) {
  .attractions__item, .attractions__item-right {
    flex-direction: column; } }

.attractions__img, .attractions__img-right {
  width: 500px;
  height: auto;
  position: relative;
  transform: translate(20px, -20px); }

.attractions__img-container {
  position: relative; }

.attractions__img-right {
  transform: translate(-20px, -15px); }

@media screen and (max-width: 1400px) {
  .attractions__img-right {
    width: 100%; } }

@media screen and (max-width: 926px) {
  .attractions__img, .attractions__img-right {
    width: 100%;
    transform: none; } }

.attractions__under-img, .attractions__under-img-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 50px;
  transform: rotate(-45deg);
  z-index: 20; }

.attractions__under-img-right {
  top: 0;
  left: 0;
  transform: rotate(12deg); }

@media screen and (max-width: 926px) {
  .attractions__under-img, .attractions__under-img-right {
    transform: none;
    top: 0;
    right: 10px; } }

.attractions__text {
  padding: 0 50px;
  justify-content: flex-start;
  height: 100%;
  display: flex;
  flex-direction: column; }

@media screen and (max-width: 926px) {
  .attractions__text {
    padding: 0; } }

.attractions__title {
  font-size: 4.6875em;
  position: relative;
  margin-bottom: 20px; }

.attractions__title::after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 20%;
  height: 10px;
  background: #027400; }

.attractions__descr {
  margin-top: 20px;
  font-size: 1.25em; }

.social {
  display: flex;
  gap: 20px;
  color: #027400;
  align-items: center;
  width: 75%;
  justify-content: flex-end;
  background: transparent; }

@media screen and (max-width: 926px) {
  .social {
    flex-direction: row;
    width: 100%;
    justify-content: center; } }

.social__item {
  border-radius: 2px;
  background: transparent; }

.social__ico {
  padding: 10px;
  border-radius: 20px;
  font-size: 4em;
  transition: 0.2s linear;
  background: transparent;
  border: 1px solid #fff; }

.social__ico:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #027400; }

.footer {
  padding: 50px 100px;
  border-top: 1px solid #bfbfbf;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  justify-content: center;
  box-shadow: 0px -6px 27px 9px rgba(34, 60, 80, 0.06); }

.footer__row {
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: center; }

@media screen and (max-width: 926px) {
  .footer__row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; } }

.footer__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 1.25em; }

.footer__split {
  border: none;
  border: 1px solid #bfbfbf;
  width: 75%;
  margin: 25px; }

.footer-nav {
  color: #999999;
  display: flex;
  align-items: center;
  gap: 60px; }

.footer-nav__item {
  transition: 0.1s linear;
  text-align: center; }

.footer-nav__item {
  position: relative; }

.footer-nav__item::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #999999;
  transition: 0.2s linear; }

@media screen and (max-width: 926px) {
  .footer-nav__item::after {
    bottom: -15px; } }

.footer-nav__item:hover::after {
  width: 100%; }

.yandex-map {
  margin: 0 auto;
  width: 100%;
  border: 2px solid #bfbfbf;
  border-radius: 2px;
  height: 600px; }


/*# sourceMappingURL=main.css.map*/